<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div class="box effect1">
    <h2><%= t('.blog_posts') %></h2>
  </div>        
  <div id="mainpage">
    <% if (current_user && current_user.can_blog && @post.author == current_user) || user_is_admin %>
      <div class="management">
        <%= link_to 'New Post', new_blog_post_path %>
        <% if user_is_admin %>
          <span> | </span>
          <%= link_to 'Manage Bloggers', admin_users_path %>
        <% end %>
      </div>
    <% end %>
    <% @posts.each do |post| %>
      <h3><%= post.title %> <span class='post-author'>by <%= link_to post.author.username, user_uploads_path(post.author.username) %></span></h3>
      <hr>
      <p><%= raw post.baked_body.to_html %></p>
    <% end %>
  </div>    
</div>
