%div
  #centerpage
    #headerpage
      .headerwrap
    = render 'shared/tabs'    
    #mainpagewrap
      .box.effect1
        %h2 Login
      .mainpageleft
        .contenthead1
          %h2 Sign in
        .form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render 'shared/errors', object: resource
            %p
              %b= f.label :email, class: 'text-label'
              %br/
              = f.email_field :email, autofocus: true, class: 'text-box'
            %p
              %b= f.label :password, class: 'text-label'
              %br/
              = f.password_field :password, autocomplete: "off", class: 'text-box'
            - if devise_mapping.rememberable?
              %div
                = f.check_box :remember_me, class: 'checkbox'
                %span
                  = f.label :remember_me
            %p
              = f.submit "Login", class: 'text-box'
      .mainpageright
        .contenthead1
          %h2 Sign up
        .form
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render 'shared/errors', object: resource
            %p
              %b= f.label :email, class: 'text-label'
              %br/
              = f.email_field :email, autofocus: true, class: 'text-box'
            %p
              %b= f.label :username, class: 'text-label'
              %br/
              = f.text_field :username, class: 'text-box'
            %p
              %b= f.label :password, class: 'text-label'
              %br/
              = f.password_field :password, autocomplete: "off", class: 'text-box'
            %p
              %b= f.label :password_confirmation, class: 'text-label'
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", class: 'text-box'
            %p
              = f.submit "Register", class: 'text-box'
      #mainpage