<div id="centerpage">
  <%= render 'shared/tabs' %>

  <div id="mainpagewrap"> 

    <div class="box effect1">
      <h2> Log in </h2>
    </div>        
    <div class="mainpageleft" style="width: 100%; text-align: center;">

      <div class="loginpagewrap" style="margin-left: 55px;">
        <div class="popuptoptitlewrap">
          <h1> Log in Panel </h1>
        </div>
        <div class="signinwrap">
          <div class="inputwrap">
            <%= form_for(:user, url: user_session_path(format: :json), remote: true, format: :json, :html => { :style => 'margin-bottom: 0px;', :id => "log_in_user" }) do |f| %>
            <%= f.text_field :login, class: 'login-inputpage', autocomplete: 'off', type: 'text', placeholder: 'Email or Username' %>
            <%= f.password_field :password, class: 'login-inputpage', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
            <div class="forgotwrap"> <%= link_to (t '.forgot_details'), '#reset-popup', class: 'reset-link-button' %></div>
            <a class="submitlink" href='#'><%= f.submit 'Sign In', class: 'signinbutton' %></a>
            <% end %>

            <div class="inputbottomwrap">
              <div class="notificationmessagewrap errormessage"><span class="notificationtext">Welcome back!</span></div>
              <%= link_to image_tag('steambutton.png', alt: 'Log in with Steam', class: 'steamloginbutton'), user_omniauth_authorize_path(:steam)  %></a>
            </div>
          </div>
        </div>

        <div class="registerwrap">
          <div class="inputwrap register">
            <%= form_for(:user, url: user_registration_path(format: :json), remote: true, format: :json, :html => { :style => 'margin-bottom: 0px;', :id => "register_user" }) do |f| %>
            <%= f.email_field :email, class: 'register-inputpage', autocomplete: 'off', type: 'email', placeholder: 'Email' %>
            <%= f.text_field :username, class: 'register-inputpage', autocomplete: 'off', type: 'text', placeholder: 'Username' %>
            <%= f.password_field :password, class: 'register-inputpage', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
            <%= f.password_field :password_confirmation, class: 'register-inputpage', autocomplete: 'off', type: 'password', placeholder: 'Confirm Password' %>
            <a class="submitlink" href='#'><%= f.submit 'Register', class: 'registerbutton' %></a>
            <% end %>

            <div class="inputbottomwrap">
              <div class="notificationmessagewrap errormessage"><span class="notificationtext">Join to access all our features.</span></div>
              <div class="registercircleinfo"><div class="circletext">Upload</div></div>
              <div class="registercircleinfo"><div class="circletext">Comment</div></div>
              <div class="registercircleinfo"><div class="circletext">Manage</div></div>
            </div>
          </div>  
        </div>
      </div>  
    </div>
    <div id="mainpage">
    </div>    

  </div>
</div>