<html>
<head>
</head>
<body>
  <a href="<%= root_url %>">
    <img src="<%= image_path('header.png') %>"/>
  </a>
  <h2 style="margin-top: 0px;"><%= t '.inquiry_received', :username => (@username) %></h2>
  <p style="margin-top: 0px;"><%= raw @inquiry %></p>
  <p>
    <%= t '.reply_to' %>
    <a href="mailto:<%= @email%>"><%= @email %></a>
  </p>

  <div class="optout">
    <%= t('user_mailer.dont_want') %> <a href="<%= unsubscribe_url(email: @email) %>"><u><%= t('user_mailer.unsubscribe') %></u></a>
  </div>  
</body>
</html>