<div class="comments" id="comments">
  <div class="header">
    <b><p style="font-family:'Arial', Helvetica, sans-serif; color:#464646; margin-left:5px; padding-top:5px;"> <%= t('comments.comments') %> <a class="comment_navigation_message" href="#bottom"><%= t('.to_bottom') %></a></p></b>
    <%= render 'comments/form' %>
  </div>
  <div class="list">
    <% @comments.each_with_index do |comment, i| %>
    <% next if comment.deleted_at && !user_is_admin %>
    <div class="comment <%= cycle('comment-odd', 'comment-even') %>" id="comment-<%= comment.id %>">
      <div class="text" title="<%= comment_timestamp(comment) %>">
        <% if user_is_admin || (current_user && current_user == comment.user) %>
        <% if !comment.deleted_at %>
        <%= link_to "<i class='fa fa-trash'></i>".html_safe, submission_comment_path(@submission, comment), title: t('.delete_comment'), method: :delete, data: { confirm: t('.confirm_delete') } %>
        <% else %>
        <%= link_to "<i class='fa fa-plus-circle'></i>".html_safe, submission_comment_restore_path(@submission, comment), title: t('.restore_comment'), data: { confirm: t('.confirm_restore') } %>
        <% end %>
        <% end %>
        <% if current_user %>
        <%= link_to "<i class='fa fa-exclamation-triangle'></i>".html_safe, "#add-report-comment", title: t('.report_comment'), class: 'report-comment-button' %>
        <% end %>
        <b>
          <%= link_to comment.user.username + ':', user_uploads_path(comment.user.username), class: "#{if comment.user.admin? then 'admin-user' elsif comment.user == @submission.user then 'submitter' end}" %>
        </b>
        <span class="<%= if comment.deleted_at then 'deleted-comment' end %>"><%= comment.text %></span>
      </div>
    </div>
    <%= if i == @comments.size - 1 then render 'reports/form', reportable: [comment] end %>
    <% end %>
    <div class="commentfooter" id="bottom"><a class="returntotoptext" href="#comments"><%= t('.to_top') %></a></div>
  </div>
</div>