= form_for([@submission, @download]) do |f|
  = render 'shared/errors', object: @download
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :version
    %br/
    = f.text_field :version
  %p
    = f.label :download
    %br/
    = f.file_field :download
  %p
    = f.submit 'Submit'
