%p#notice= notice
%p
  %strong Downloads:
  = @download.downloads
%p
  %strong Game version:
  = @download.game_version
%p
  %strong Version:
  = @download.version
%p
  %strong Changelog:
  = @download.changelog
%p
  %strong Notes:
  = @download.notes
%p
  %strong Type:
  = @download.type
= link_to 'Edit', edit_download_path(@download)
|
\#{link_to 'Back', downloads_path}
