<style>
	.users, .users th, .users td {    
		border: 1px solid black;
		border-collapse: collapse;
	}
	.users {   
		width: 100%;
	}
	.users th, .users td {
		padding: 5px;
		text-align: left;
	}
	#mainpagewrap, .mainpageleft, #mainpage {
		height: 735px;
	}
	.action {
		margin-bottom: 5px;
	}
</style>
<div id="centerpage">
	<%= render 'shared/tabs' %>
	<div id="mainpagewrap">
		<div class="box effect1">
			<h2><%= t '.user_list' %></h2>
		</div>
		<div class="mainpageleft">
			<%= form_tag admin_mass_moderation_path, :method => :post do %>
			<% if @users.any? %>
			<table class='users'>
				<thead>
					<tr>
						<td><input type="checkbox" id="all" checked='false'></td>
						<th><%= sortable 'username' %></th>
						<th><%= sortable 'email' %></th>
						<th><%= sortable 'admin' %></th>
						<th><%= sortable 'sign_in_count', 'Login Count' %></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= check_box_tag("objects[#{user.id}]", 1, false, class: 'content-check') %></td>
						<td><%= link_to user.username, user_uploads_path(user.username), title: 'Go to profile' %></td>
						<td><%= link_to user.email, admin_email_path(username: user.username), title: 'Send an email' %></td>
						<td><%= user.admin %></td>
						<td><%= user.sign_in_count %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= hidden_field_tag :type, 'User' %>
			<div id='content-paginator' align='center' class='pagination-wrap'>
				<div class='action'>
					<%= select_tag :action, options_for_select([['Delete', 'delete']], "Delete") %>
					<%= submit_tag 'Confirm', data: { confirm: "Are you sure?" } %>
				</div>
				<%= paginate @users %>
			</div>
			<% else %>
			<p align="center" id="none"><%= t '.no_users' %></p>
			<% end %>
			<% end %>
		</div>
		<div id="mainpage" />
	</div>
</div>
<%= content_for :scripts do %>
<script>
	$(document).ready(function () {
		$("#all").change(function () {
			$("input:checkbox[class=content-check]").prop('checked', this.checked);
		});
	});
</script>
<% end %>