<style>
	.moderation, .moderation th, .moderation td {    
		border: 1px solid black;
		border-collapse: collapse;
	}
	.moderation {   
		width: 100%;
	}
	.moderation th, .moderation td {
		padding: 5px;
		text-align: left;
	}
</style>
<div id="centerpage">
	<%= render 'shared/tabs' %>
	<div id="mainpagewrap">
		<div class="box effect1">
			<h2><%= t '.content_moderation' %></h2>
		</div>
		<div class="mainpageleft">
			<% if @uploads.any? %>
			<table class='moderation'>
				<tr>
					<th><%= t '.project_name' %></th>
					<th><%= t '.file_name' %></th>
					<th><%= t '.uploader' %></th>
					<th colspan="2"><%= t '.actions' %></th>
				</tr>
				<% @uploads.each do |upload| %>
				<tr>
					<td>
						<%= link_to upload.submission.name, upload.submission %>
					</td>
					<td>
						<%= link_to upload.upload.file.filename, upload.upload.url %>
					</td>
					<td>
						<%= link_to upload.submission.user.username, user_uploads_path(upload.submission.user.username) %>
					</td>
					<td>
						<div align="center">
							<%= link_to t('.approve'), '#', id: 'approve-' + upload.id, class: 'approve' %>
						</div>
					</td>
					<td>
						<div align="center">
							<%= link_to t('.deny'), '#', id: 'deny-'+ upload.id, class: 'deny' %>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
			<% else %>
			<div align="center" id="none"><%= t '.no_uploads' %></div>
			<% end %>
		</div>
		<div id="mainpage" />
	</div>
</div>
<script>
	function recalcHeight() {
		var height = $('.moderation').height();
		$('#mainpage').height(height);
		$('#mainpagewrap').height(height + 85);
		$('.mainpageleft').height(height);
	}
	if ($('.moderation').length) {
		recalcHeight();
	}
</script>
<script>
	$('.approve, .deny').click(function() {
		var element = $(this);
		var id = 0;
		var url = '';
		if ($(this).attr('id').startsWith('deny')) {
			id = $(this).attr('id').split('deny-')[1];
			url = "/uploads/" + id + '/deny';
		} else {
			id = $(this).attr('id').split('approve-')[1];
			url = "/uploads/" + id + '/approve';
		}
		url += '.json';
		var prompt = 'No reason provided.';
		if ($(this).hasClass('deny')) {
			prompt = window.prompt("Why is this file being denied?", "Content is not up to Mods-Unturned standards.");
		}
		$.ajax({
			url: url,
			type: "POST",
			data: JSON.stringify({"reason": prompt}),
			success: function(resp) {
				$(element).closest('tr').fadeOut( "slow", function() { 
					$(element).remove();
					recalcHeight();
				});
			}
		});
	});
</script>