<div id="centerpage">
  <%= render 'shared/tabs' %>

  <div id="mainpagewrap"> 

    <div class="box effect1">
      <h2> New Password </h2>
    </div>        
    <div class="mainpageleft" style="width: 100%; text-align: center;">

      <div class="loginpagewrap" style="margin-left: 55px;">
        <div class="signinwrap">
          <div class="inputwrap" style='height: 250px;'>
            <%= form_for(:user, url: user_password_path(format: :json), format: :json, remote: true, :html => { :style => 'margin-bottom: 0px;', :id => "change_password", method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>
            <%= f.password_field :password, class: 'reset-page', autocomplete: 'off', type: 'password', placeholder: 'Password', autofocus: true %>
            <%= f.password_field :password_confirmation, class: 'reset-page', autocomplete: 'off', type: 'password', placeholder: 'Confirm Password' %>
            <div class="passwordreset_notificationmessagewrap errormessage"><span class="passwordreset_notificationtext">Your password will now be permanently changed on Mods-Unturned.com </span></div>
            <a class="submitlink" href='#'><%= f.submit 'Change Password', class: 'signinbutton' %></a>
            <% end %>
          </div>
        </div>
      </div>  
    </div>
    <div id="mainpage" style="height: 400px;">
    </div>    
  </div>
</div>