<div id="add-video" class="add-video-popup mfp-hide">
  <p>
    <%= t '.considerate' %>
  </p>

  <%= form_for([@submission, @submission.videos.build]) do |f| %>
  <%= f.label :url, t('.url') %>
  <p>
    <%= f.text_field :url, autocomplete: 'off', class: 'text-box', placeholder: t('.youtube_videos') %>

    <%= f.submit t('common.submit'), class: 'text-box', style: 'display: inline;', :data => { :disable_with => t('common.saving') } %>
  </p>
  <% end %>
</div>