<!-- Mods-Unturned -->
<ins class="adsbygoogle"
     style="display:block;margin:0 auto;width:728px;height:90px"
     data-ad-client="ca-pub-3000890138855017"
     data-ad-slot="2920237782"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div id="footerpage">
  <table class="footertable">
    <tr>
      <td><%= link_to t('.about'), about_path %></td>
      <td><%= link_to t('.contact'), '#contact-popup', class: 'contact-button' %></td>
      <td><%= link_to t('common.submit'), new_submission_path %></td>
    </tr>
    <tr>
      <td colspan="3" class="socialmedialogos">
        <%= link_to image_tag('facebook.png', class: 'socialmediaimg', alt: t('.facebook')), "https://www.facebook.com/pages/Mods-Unturnedcom/846719095349217", target: "_blank" %>
        <%= link_to image_tag('twitter.png', class: 'socialmediaimg', alt: t('.twitter')), "https://twitter.com/Mods_Unturned", target: "_blank" %>
        <%= link_to image_tag('google.png', class: 'socialmediaimg', alt: t('.google')), "https://plus.google.com/103886656948838780928/about", target: "_blank" %>
        <%= link_to image_tag('youtube.png', class: 'socialmediaimg', alt: t('.youtube')), "", target: "_blank" %>
      </td>
    </tr>
  </table>
</div>

<div id="contact-popup" class="mfp-hide mfp-with-anim">
  <p>
    <%= t '.please_allow' %>
  </p>
  <%= form_tag contact_path, method: 'POST' do %>
  <%= label_tag 'Username', t('activerecord.attributes.user.username') %> <%= text_field :contact, :username, class: 'contactboxes', value: current_user ? current_user.username : "" %>
  <%= label_tag 'Email', t('activerecord.attributes.user.email') %> <%= email_field :contact, :email, class: 'contactboxes', value: current_user ? current_user.email : "" %>
  <%= label_tag 'Message', t('.message') %><%= text_area :contact, :inquiry, class: 'contactboxes', rows: 7 %>
  <%= submit_tag t('common.send'), class: 'contactsubmitbutton', :data => { :disable_with => t('common.sending') } %>
  <div class="g-recaptcha" data-sitekey="6LdXLQITAAAAAH39kLpg0OWSOEyIe5WgrMWbx00F"></div>
  <% end %>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55393401-1', 'auto');
  ga('send', 'pageview');
</script>
