<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Mods-Unturned -->
<ins class="adsbygoogle"
     style="display:block;margin:0 auto;margin-bottom:-120px;margin-top:12px;width:728px;height:90px"
     data-ad-client="ca-pub-3000890138855017"
     data-ad-slot="2920237782"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div id="footerpage">
  <table class="footertable">
    <tr>
      <td><a href=<%= about_path %>><%= t '.about' %></a></td>
      <td><a href="#contact-popup" class='contact-button'><%= t '.contact' %></a></td>
      <td><a href=<%= new_submission_path %>><%= t '.submit' %></a></td>
    </tr>
    <tr>
      <td colspan="3" class="socialmedialogos">
        <%= link_to image_tag('facebook.png', class: 'socialmediaimg'), "https://www.facebook.com/pages/Mods-Unturnedcom/846719095349217", target: "_blank" %>
        <%= link_to image_tag('twitter.png', class: 'socialmediaimg'), "https://twitter.com/Mods_Unturned", target: "_blank" %>
        <%= link_to image_tag('google.png', class: 'socialmediaimg'), "https://plus.google.com/103886656948838780928/about", target: "_blank" %>
        <%= link_to image_tag('youtube.png', class: 'socialmediaimg'), "", target: "_blank" %>
      </td>
    </tr>
  </table>
</div>

<div id="contact-popup" class="mfp-hide">
  <p>
    <%= t '.please_allow' %>
  </p>
  <%= form_tag contact_path, method: 'POST' do %>
  <%= label_tag 'Username '%><%= text_field :contact, :username, class: 'contactboxes', value: current_user ? current_user.username : "" %>
  <%= label_tag 'Email ' %><%= email_field :contact, :email, class: 'contactboxes', value: current_user ? current_user.email : "" %>
  <%= label_tag 'Message ' %><%= text_area :contact, :inquiry, class: 'contactboxes', rows: 7 %>
  <%= submit_tag 'Send', class: 'contactsubmitbutton', :data => { :disable_with => "Sending" } %>
  <div class="g-recaptcha" data-sitekey="6LdXLQITAAAAAH39kLpg0OWSOEyIe5WgrMWbx00F"></div>
  <% end %>
</div>

<% content_for :scripts do %>
  <script>
    $('.contact-button').magnificPopup({
      type:'inline',
      midClick: true
    });
  </script>
<% end %>
