<div id="headerpage">
  <div class="headerwrap">
    <img border="0" height="80" hidefocus="true" src="<%= image_path('header.png') %>" usemap="#map" width="860"/>
    <map name="map">
      <area alt="Unturned Mods" coords="0,5,226,34" href="<%= root_path %>" shape="rect" target="_self"></area>
      <area alt="Login" coords="273,67,13" href="<%= new_user_session_path %>" shape="circle" target="_self"></area>
      <area alt="Unturned Levels" coords="363,52,393,77" href="<%= projects_path(:type => "levels") %>" shape="rect" target="_self"></area>
      <area alt="Unturned Models" coords="470,52,496,77" href="<%= projects_path(:type => "models") %>" shape="rect" target="_self"></area>
      <area alt="Search Unturned Mods" coords="577,53,600,76" href="<%= root_path %>" shape="rect" target="_self"></area>
    </map>
  </div>
</div>
<div id="tabs">
  <div class="home">
    <a href="<%= root_path %>">
      <h3><%= t '.home' %></h3>
    </a>
  </div>
  <div class="upload">
    <a href="<%= new_submission_path %>">
      <h3><%= t '.upload' %></h3>
    </a>
  </div>
  <div class="menuwrap">
    <div class="menu effect1">
      <div class="menuitem">
        <% if params[:controller] == "submissions" and params[:user] %>
          <%= link_to "<div class='menutext'>#{if current_user then t('users.log_out') else t('users.log_in') end}</div>".html_safe, destroy_user_session_path, :method => :delete %>
        <% else %>
          <a href=<%= if current_user then user_uploads_path(current_user.username) else new_user_registration_path end %>>
            <div class="menutext">
              <%= if current_user then current_user.username else t('users.log_in') end %>
            </div>
          </a>
        <% end %>
      </div>
      <div class="menuitem">
        <a href="<%= projects_path(:type => "levels") %>">
          <div class="menutext"><%= t '.levels' %></div>
        </a>
      </div>
      <div class="menuitem">
        <a href="<%= projects_path(:type => "models") %>">
          <div class="menutext"><%= t '.models' %></div>
        </a>
      </div>
      <div class="menuitem">
        <a>
          <div class="menutext"><%= t '.search' %></div>
        </a>
      </div>
    </div>
  </div>
</div>
