<div id="headerpage">
  <div class="logoheaderbar">
    <div class="logowrap">
      <%= image_tag('logo.png', alt: 'Mods-Unturned') %>
      <%= render 'shared/alerts' %>
    </div>

  </div>
  <% menu = user_menu %>
  <div class="iconheaderbar">
    <div id="tabs">
      <div class="menu">
        <a class="menuimgwrap <%= get_active('home', 'active-image') %>" href=<%= root_path %>></a> 
        <%= user_img_menu %>
        <a class="menuimgwrap <%= params[:controller] == 'submissions' && params[:action] == 'index' && params[:type] == 'levels' ? 'active-image' : '' %>" href=<%= projects_path(:type => "levels") %>></a>
        <a class="menuimgwrap <%= params[:controller] == 'submissions' && params[:action] == 'index' && params[:type] == 'models' ? 'active-image' : ''  %>" href=<%= projects_path(:type => "models") %>></a>
        <a class="menuimgwrap <%= params[:controller] == 'submissions' && (params[:action] == 'new' || params[:action] == 'edit') ? 'active-image' : '' %>" href=<%= new_submission_path %>></a>  
      </div>
    </div>      
  </div>

  <div id="tabs">
    <div class="menu">
      <div class="menuitem <%= get_active('home') %>"><a href=<%= root_path %>><div class="menutext"><%= t '.home' %></div></a></div>
      <div class="menuitem <%= params[:user] && params[:controller] == 'submissions' ? 'active' : '' %>"><%= user_menu %></div>
      <div class="menuitem <%= params[:controller] == 'submissions' && params[:action] == 'index' && params[:type] == 'levels' ? 'active' : '' %>"><a href=<%= projects_path(:type => "levels") %>><div class="menutext"><%= t '.levels' %></div></a></div>
      <div class="menuitem <%= params[:controller] == 'submissions' && params[:action] == 'index' && params[:type] == 'models' ? 'active' : '' %>"><a href=<%= projects_path(:type => "models") %>><div class="menutext"><%= t '.models' %></div></a></div>
      <div class="menuitem <%= params[:controller] == 'submissions' && (params[:action] == 'new' || params[:action] == 'edit') ? 'active' : '' %>"><a href=<%= new_submission_path %>><div class="menutext"><%= t '.upload' %></div></a></div>

      <div class="searchwrap">
        <%= form_tag search_path, method: 'GET' do %>
        <%= text_field :search, :search, class: 'search', type: 'text', placeholder: 'Search...', value: params[:search] ? params[:search][:search] : "", autocomplete: 'off' %>
        <%= image_submit_tag 'search-24.png', class: 'searchbutton' %>
        <% end %>
      </div>        
    </div>
  </div>    
</div>

<% if !current_user %>
<div id='reset-popup' class="resetpassword_popupwrap mfp-hide">
  <div class="popuptoptitlewrap">
    <h1> Password Reset </h1>
  </div>
  <div class="passwordreset_inputwrap">
    <%= form_for :password, url: user_password_path, html: { style: 'margin-bottom: 0px' } do |f| %>
    <%= f.email_field :email, autofocus: true, class: 'email-input', autocomplete: 'off', type: 'email', placeholder: 'Email' %>
    <div class="passwordreset_notificationmessagewrap errormessage"><span class="passwordreset_notificationtext">An email will be sent to you with instructions on resetting your password.</span></div>
    <a class="submitlink" href="#"><%= f.submit "Submit", class: 'signinbutton', :data => { :disable_with => "Sending" } %></a>
    <% end %>
    <div class="passwordreset_inputbottomwrap">
    </div>
  </div>
</div>

<div id='login-popup' class="popupwrap mfp-hide">
  <div class="popuptoptitlewrap">
    <h1> Log in Panel </h1>
  </div>
  <div class="signinwrap">
    <div class="inputwrap">
      <%= form_for(:user, url: user_session_path(format: :json), remote: true, format: :json, :html => { :style => 'margin-bottom: 0px;', :id => "log_in_user" }) do |f| %>
      <%= f.text_field :login, class: 'login-input', autocomplete: 'off', type: 'text', placeholder: 'Email or Username' %>
      <%= f.password_field :password, class: 'login-input', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
      <div class="forgotwrap"> <%= link_to (t '.forgot_details'), '#reset-popup', class: 'reset-link-button' %></div>
      <a class="submitlink" href='#'><%= f.submit 'Sign In', class: 'signinbutton' %></a>
      <% end %>

      <div class="inputbottomwrap">
        <div class="notificationmessagewrap errormessage"><span class="notificationtext">Welcome back!</span></div>
        <%= link_to image_tag('steambutton.png', alt: 'Log in with Steam', class: 'steamloginbutton'), user_omniauth_authorize_path(:steam)  %></a>
      </div>
    </div>
  </div>

  <div class="registerwrap">
    <div class="inputwrap register">
      <%= form_for(:user, url: user_registration_path(format: :json), remote: true, format: :json, :html => { :style => 'margin-bottom: 0px;', :id => "register_user" }) do |f| %>
      <%= f.email_field :email, class: 'register-input', autocomplete: 'off', type: 'email', placeholder: 'Email' %>
      <%= f.text_field :username, class: 'register-input', autocomplete: 'off', type: 'text', placeholder: 'Username' %>
      <%= f.password_field :password, class: 'register-input', autocomplete: 'off', type: 'password', placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, class: 'register-input', autocomplete: 'off', type: 'password', placeholder: 'Confirm Password' %>
      <a class="submitlink" href='#'><%= f.submit 'Register', class: 'registerbutton' %></a>
      <% end %>

      <div class="inputbottomwrap">
        <div class="notificationmessagewrap errormessage"><span class="notificationtext">Join to access all our features.</span></div>
        <div class="registercircleinfo"><div class="circletext">Upload</div></div>
        <div class="registercircleinfo"><div class="circletext">Comment</div></div>
        <div class="registercircleinfo"><div class="circletext">Manage</div></div>
      </div>
    </div>  
  </div>
</div>

<script>
  $('.login-button').magnificPopup({
    type:'inline',
    midClick: true
  });
  $('.reset-link-button').magnificPopup({
    type:'inline',
    midClick: true
  });
</script>

<% end %>

<script>
  function handleEnter(elem) {
    elem = elem.target;
    var location = -1;
    var image_elem = null;
    if ($(elem).hasClass('menutext')) {
      location = $(elem).parent().parent().index() + 1
      image_elem = $('.menuimgwrap:nth-child('+ location +')')
      $(elem).parent().parent().addClass('hovering');
      $(image_elem).addClass('hovering');
    } else if ($(elem).hasClass('menuimgwrap')) {
      location = $(elem).index() + 1
      image_elem = $('.menuitem:nth-child('+ location +')')
      $(elem).addClass('hovering');
      $(image_elem).addClass('hovering');
    }
  }
  function handleLeave(elem) {
    elem = elem.target;
    var location = -1;
    var image_elem = null;
    if ($(elem).hasClass('menutext')) {
      location = $(elem).parent().parent().index() + 1
      image_elem = $('.menuimgwrap:nth-child('+ location +')')
      $(elem).parent().parent().removeClass('hovering');
      $(image_elem).removeClass('hovering');
    } else if ($(elem).hasClass('menuimgwrap')) {
      location = $(elem).index() + 1
      image_elem = $('.menuitem:nth-child('+ location +')')
      $(elem).removeClass('hovering');
      $(image_elem).removeClass('hovering');
    }
  }
  $('.menuitem, .menuimgwrap').hover(handleEnter, handleLeave);
</script>