:css
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  table {
    width: 100%;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
#centerpage
  = render 'shared/tabs'
  #mainpagewrap
    .box.effect1
      %h2 Moderation
    .mainpageleft
      - if @uploads.any?
        %table
          %tr
            %th Project Name
            %th File Name
            %th Uploader
            %th{colspan: 2} Actions
          - @uploads.each do |upload|
            = puts upload.inspect
            %tr
              %td
                = link_to upload.submission.name, upload.submission
              %td
                = link_to upload.upload.file.filename, upload.upload.url
              %td
                = link_to upload.submission.user.username, user_uploads_path(upload.submission.user.username)
              %td
                .approve{align: "center"}
                  = link_to 'Approve', submission_upload_approve_path(upload.submission, upload)
              %td
                .deny{align: "center"}
                  = link_to 'Deny', submission_upload_deny_path(upload.submission, upload)
      - else
        #none{align: "center"} No uploads awaiting moderation.
    #mainpage