<div id="centerpage">
  <%= render 'shared/tabs' %>
</div>

<div id="mainpagewrap"> 

  <div class="box effect1">
    <h2><%= t '.about_us' %> </h2>
  </div>        
  <% menu = user_menu %>
  <div class="mainpageleft">
    <div class="biowraps">
      <div class="profile">
        <a href="<%= user_uploads_path('LCBradley3k') %>"><img src=<%= image_path("bradley.png") %> class="avatar"></a>
        <div class="persondetails">
          <div class="username">LCBradley3k</div> 
          <div class="userdescriptionshort"><%= t '.bradley_role' %></div>
        </div>          
      </div>  
      <div class="userdescriptionlong">
        <%= t('.bradley_text', twitter: "<b><a href=\"https://twitter.com/#{ENV['bradley_twitter']}\" target=\"_blank\">twitter</a></b>", youtube: "<b><a href=\"https://www.youtube.com/user/#{ENV['bradley_youtube']}\" target=\"_blank\">LCBradley3k</a></b>").html_safe %>
      </div>
    </div>
    <div class="biowraps">
      <div class="profile">
        <a href=<%= user_uploads_path('Jake0oo0') %>><img src=<%= image_path("jake.png") %> class="avatar"></a>
        <div class="persondetails">
          <div class="username">Jake0oo0</div> 
          <div class="userdescriptionshort"><%= t '.jake_role' %></div>
        </div>          
      </div>    
      <div class="userdescriptionlong">
        <%= t('.jake_text', github: "<a href=\"https://github.com/#{ENV['jake_github']}\" target=\"_blank\">Github</a>", twitter: "<a href=\"https://twitter.com/#{ENV['jake_twitter']}\" target=\"_blank\">tweet</a>", website: "<a href=\"#{ENV['jake_website']}\" target=\"_blank\">my site</a>").html_safe  %>!
      </div>            
    </div>
    <div class="statswrap effect7">
      <span class="statstitle"> <%= t '.statistics' %> </span>
      <table class="statstable">
        <tr>
          <td><%= t '.total', :num => (number_with_delimiter(Submission.valid.count, :delimiter => ',')) %></td>
          <td rowspan="4" style="text-align: center;"><%= t '.coming_soon' %></td>
        </tr>
        <tr>            
          <td> <%= t '.total_downloads', :num => (number_with_delimiter(Submission.valid.sum(:total_downloads), :delimiter => ',')) %> </td>
        </tr>
        <tr>            
          <td> <%= t '.total_users', :num => (number_with_delimiter(User.count, :delimiter => ',')) %></td>
        </tr>
        <tr>            
          <td> <%= t '.total_comments', :num => (number_with_delimiter(Comment.count, :delimiter => ',')) %></td>
        </tr>           
      </table>
    </div>
    <div class="honorbiowrap effect7">
      <%= t('.thank_people', nelson: "<b><a href=\"https://twitter.com/#{ENV['nelson_twitter']}\" target=\"_blank\">Nelson Sexton</a></b>", melike: "<b><a href=\"https://www.youtube.com/user/#{ENV['melike_youtube']}\" target=\"_blank\">MeLikeBigBoom</a></b>").html_safe %> 
    </div>

  </div>          

  <div id="mainpage">
  </div>
</div>


