<div id="centerpage">
  <%= render 'shared/tabs' %>

    <div class="box effect1">
      <h2><%= t '.home' %> </h2>
    </div>        

    <div id="mainpage">
      <table class="homeupperlayout">
        <tr>
          <td class="homesubtitle"><%= image_tag('popular.png') %> <%= t('.today_popular') %> </td>
          <td class="homesubtitle"><%= t('.this_week') %> <%= image_tag('thisweekarrow.png') %></td>
        </tr>
      </tr>
      <tr>
        <td class="todaymostpopular"> 
          <div class="mostpopularcontent">
            <div id="slider" class="nivoSlider mainthumblarge">
              <% if @slider.any? %>
              <% @slider.each do |sub| %>
              <a href="<%= submission_path(sub['slug']) %>"><img style="height: 100%;" src="<%= sub ? sub['cached_image'] : image_path('uploadthumb.png')  %>" alt="" title="<%= sub['name'] %>" /></a>
              <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <td class="community"> 
          <table>
            <tr><td class="toplisttitle"><%= t '.top_developers' %></td></tr>
            <% @weekly_developers.each do |s| %>
            <tr><td class="toplistitem"><a href=<%= user_uploads_path(s.username) %>><%= s.username %></a></td></tr>
            <% end %>
            <tr><td class="toplisttitle"><%= t '.top' %></td></tr>  
            <% @weekly_submissions.each do |s| %>
            <tr><td class="toplistitem"><a href=<%= submission_path(s) %>><%= s.name %></a></td></tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
    <br/><br/>
    <table class="homelowerlayout">
      <tr>
        <td class="homesubtitle"><%= image_tag('updated.png') %> <%= t '.recently_updated' %> </td>
        <td class="homesubtitle unturnednewstitle"><%= image_tag('unturnednews.png') %> <%= t '.unturned_news' %> </td>
      </tr>
      <tr class="contentboxes">
        <td class="recentlyupdatedmods">
          <% @recent.each do |recent| %>
          <div class="content homepagemodsubmission">
            <a href="<%= submission_path(recent) %>"> <img src="<%= recent.main_image.image_url %>" class="levelthumb"></a>
            <div class="contentdetails">
              <h4 style= "height: 18px; overflow: hidden; word-wrap: break-word;"><a class="homemodtitle" href=<%= submission_path(recent) %>><%= recent.name %></a></h4>
              <div class="madebyuser"><a href=<%= user_uploads_path(recent.user.username) %>><%= recent.user.username %></a><div class="downloadcount">&nbsp;&bull; <%= recent.download_count %> <%= image_tag('downarrow.png') %></div></div> 
              <div class="contentdesc"><%= recent.desc %></div>
            </div>            
          </div>
          <% end %>

          <a href="<%= projects_path(:sort => "updated") %>"><div class="see_more_recent_button"> <%= t '.see_more' %> </div></a>
        </td>

        <td class="unturnedupdates">
          <div class="unturnednewsbubble">
            <div class="unturnednewsbubbleheading"><%= t '.news_loading_title' %> </div>
            <div class="unturnednewsbubbletextarea"><%= t '.news_loading_body' %>              

            </div>
            <div class="unturnednewsbubblereadmore"><a class="readmoretext" href="" target="_blank"><%= t '.news_read_more' %></a> </div>
          </div>                    
        </td>

      </tr>

      <tr>
        <td colspan="2"><br /></td>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>               
      <tr>
        <td colspan="2"><br /></td>
      </tr>             
      <tr>
        <td class="homesubtitle" colspan="2">
          <%= image_tag('popular.png') %> <%= t '.staff_favorites' %>
        </td>
      </tr>             
      <tr>
        <td style="width:860px;"colspan="2">
          <% @favorites.each do |favorite| %>
          <div class="content homepagemodsubmission">
            <a href=<%= submission_path(favorite) %>><img src=<%= favorite.cached_image %> class="levelthumb"></a>
            <div class="contentdetails">
              <h4 style= "height: 18px; overflow: hidden; word-wrap: break-word;"><a class="homemodtitle" href=<%= submission_path(favorite) %>><%= favorite.name %></a></h4>
              <div class="madebyuser"><a href=<%= user_uploads_path(favorite.user.username) %>><%= favorite.user.username %></a><div class="downloadcount">&nbsp;&bull; <%= favorite.download_count %> <img src=<%= image_path('downarrow.png') %> /></div></div> 
              <div class="contentdesc"><%= favorite.desc %></div>
            </div>            
          </div>
          <% end %>
        </td>
      </tr>   
      <tr>
        <td colspan="2"><br /></td>
      </tr>               
      <tr>
        <td class="homesubtitle quicklinkstitle" colspan="2">
          <%= t '.quick_links' %>
        </td>
        <tr>
          <td  class="quicklinkswrap" colspan="2">
            <div>
              <%= link_to (t '.about_mods_unturned'), about_path, class: 'quicklinkitem' %>
              <%= link_to (t '.tutorials'), "https://www.youtube.com/playlist?list=PLOjtCLyAWSfkJSZn4NdBsqvZKZhWOQ29q", class: 'quicklinkitem', target: '_blank' %>
              <%= link_to (t '.item_id_list'), "https://www.reddit.com/r/unturned/comments/2njy5b/unturned_id_list/", class: 'quicklinkitem', target: '_blank' %>
              <%= link_to (t '.facebook_page'), "https://www.facebook.com/pages/Mods-Unturnedcom/846719095349217", class: 'quicklinkitem', target: '_blank' %>
              <%= link_to (t '.twitter'), "https://twitter.com/Mods_Unturned", class: 'quicklinkitem', target: '_blank' %>
              <%= link_to (t '.unturned_steam'), "http://steamcommunity.com/app/304930", class: 'quicklinkitem', target: '_blank' %>
            </div>
          </td>
        </tr>               
      </tr>             
    </table>
  </div>          
