<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div id="mainpagewrap"> 

    <div class="box effect1">
      <h2>Home </h2>
    </div>        

    <div class="mainpageleft">
      <table class="homeupperlayout">
        <tr>
          <td class="homesubtitle"><img src=<%= image_path('popular.png') %> /> TODAY'S MOST POPULAR </td>
          <td class="homesubtitle">THIS WEEK'S <img src=<%= image_path('thisweekarrow.png') %> /></td>
        </tr>
      </tr>
      <tr>
        <td class="todaymostpopular"> 
          <div class="mostpopularcontent">
            <a href=<%= @most_popular_today ? submission_path(@most_popular_today) : '' %>>
              <img class="mainthumblarge"src=<%= @most_popular_today ? @most_popular_today.main_image.image_url : image_path('uploadthumb.png') %>>
              <div class="mostpopularmodtitle homesubtitle"><%= @most_popular_today ? @most_popular_today.name : 'Most Popular' %></div>
            </a>
          </div>  
        </td>
        <td class="community"> 
          <table>
            <tr><td class="toplisttitle">Top Developers</td></tr>
            <% @weekly_developers.each do |s| %>
            <tr><td class="toplistitem"><a href=<%= user_uploads_path(s) %>><%= s %></a></td></tr>
            <% end %>
            <tr><td class="toplisttitle">Top Modifications</td></tr>  
            <% @weekly_submissions.each do |s| %>
            <tr><td class="toplistitem"><a href=<%= submission_path(s) %>><%= s.name %></a></td></tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
    <br /><!--<hr />--><br />
    <table class="homelowerlayout">
      <tr>
        <td class="homesubtitle"><img src=<%= image_path('updated.png') %> />  RECENTLY UPDATED </td>
        <td class="homesubtitle unturnednewstitle"><img src=<%= image_path('unturnednews.png') %> /> UNTURNED NEWS </td>
      </tr>
      <tr class="contentboxes">
        <td class="recentlyupdatedmods">
          <% @recent.each do |recent| %>
          <div class="content">
            <a href=<%= submission_path(recent) %>><img src=<%= recent.main_image.image_url %> class="levelthumb"></a>
            <div class="contentdetails">
              <h4><a href=<%= submission_path(recent) %>><%= recent.name %></a></h4>
              <div class="madebyuser"><a href=<%= user_uploads_path(recent.user.username) %>><%= recent.user.username %></a><div class="downloadcount">&bull; <%= recent.download_count %> <img src=<%= image_path('downarrow.png') %> /></div></div> 
              <div class="contentdesc"><%= recent.desc %></div>
            </div>            
          </div>
          <% end %>

          <a href=<%= projects_path(:sort => "updated") %>><div class="see_more_recent_button"> See more recently updated </div></a>
        </td>

        <td class="unturnedupdates">

          <div class="unturnednewsbubble">
            <div class="unturnednewsbubbleheading">Unturned Updates </div>
            <div class="unturnednewsbubbletextarea">News loading...              

            </div>
            <div class="unturnednewsbubblereadmore"><a class="readmoretext" href="" target="_blank">Read More</a> </div>
          </div>                    
        </td>

      </tr>

      <tr>
        <td colspan="2"><br /></td>
      </tr>
      <tr>
        <td colspan="2"><!--<hr />--></td>
      </tr>               
      <tr>
        <td colspan="2"><br /></td>
      </tr>             
      <tr>
        <td class="homesubtitle" colspan="2">
          <img src=<%= image_path('popular.png') %> /> STAFF FAVORITES
        </td>
      </tr>             
      <tr>
        <td style="width:860px;"colspan="2">
          <% @favorites.each do |favorite| %>
          puts favorite.title
          <div class="content">
            <a href=<%= submission_path(favorite) %>><img src=<%= favorite.main_image.image_url %> class="levelthumb"></a>
            <div class="contentdetails">
              <h4><a href=<%= submission_path(favorite) %>><%= favorite.name %></a></h4>
              <div class="madebyuser"><a href=<%= user_uploads_path(favorite.user.username) %>><%= favorite.user.username %></a><div class="downloadcount">&bull; <%= favorite.download_count %> <img src=<%= image_path('downarrow.png') %> /></div></div> 
              <div class="contentdesc"><%= favorite.desc %></div>
            </div>            
          </div>
          <% end %>

        </td>
      </tr>   
      <tr>
        <td colspan="2"><br /></td>
      </tr>               
      <tr>
        <td class="homesubtitle quicklinkstitle" colspan="2">
          QUICK LINKS
        </td>
        <tr>
          <td  class="quicklinkswrap" colspan="2">
            <div>
              <a href=""><div class="quicklinkitem">About Mods-Unturned.com</div></a>
              <a href=""><div class="quicklinkitem">Tutorials</div></a>
              <a href=""><div class="quicklinkitem">Item ID List</div></a>
              <a href=""><div class="quicklinkitem">Facebook Page</div></a>
              <a href=""><div class="quicklinkitem">Twitter Page</div></a>
              <a href=""><div class="quicklinkitem">Unturned Steam</div></a>
            </div>
          </td>
        </tr>               
      </tr>             
    </table>
  </div>          

  <div id="mainpage">
  </div>


</div>
        <!--<footer>
          <p class="footertext"></p>
        </footer>-->
      </div> 