= form_for(@submission) do |f|
  = render 'shared/errors', object: @submission
  %p
    %b= f.label :name
    %br/
    = f.text_field :name, style: 'width: 300px;'
  %p
    %b= f.label :type
    %br/
    = f.select(:type, ['Level', 'Asset'].map { |value| [ value, value ] })
  %p
    %b= f.label :body
    %br/
    = f.text_area :body, rows: 15, style: 'width: 600px;'
  %p
    = f.submit 'Submit'
