<div class='mainscreen'>
  <div class="large-imgwrap imgwrap">
    <%= image_tag "#{@submission.main_image ? @submission.main_image.image_url : 'uploadthumb.png'}", class: 'mainthumblarge', alt: t('.main_image') %>
  </div>
</div>
<div class="screenshots">
  <% 6.times do |count| %>
  <% thumb = @thumbnails[count] %>
  <div class='imgwrap'>
    <% if thumb %>
    <a id="thumb-<%= count %>" class='valid-thumb' href="<%= thumb.image_url %>">
      <img class="contentpage_levelthumb" src="<%= thumb.image_url %>" title="<%= t('.map_thumbnail') %>" alt='<%= t('.map_thumbnail') %>'/>
    </a>
    <% else %>
    <a>
      <%= image_tag 'smallthumb.png', class: 'contentpage_levelthumb', title: t('.placeholder'), id: "thumb-#{count}", alt: t('.placeholder_thumbnail') %>
    </a>
    <% end %>
  </div>
  <% end %>
</div>