%h1 Listing submissions
%table
  %thead
    %tr
      %th Name
      %th Downloads
      %th Body
      %th{:colspan => "3"}
  %tbody
    - @submissions.each do |submission|
      %tr
        %td= submission.name
        %td= submission.downloads
        %td= submission.body
        %td= link_to 'Show', submission
        %td= link_to 'Edit', edit_submission_path(submission)
        %td= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Submission', new_submission_path
