<div>
  <div id="centerpage">
    <%= render 'shared/tabs' %>
    <div id="mainpagewrap">
      <div class="box effect1">
        <h2>
          <%= @title %>
        </h2>
      </div>
      <div class="mainpageleft">
        <div style="width:100%; text-align:center; height:8px;margin-top:5px; font-size:14px; margin-left:0px;">
          <% if params[:sort] == "newest" || !params[:sort] %>
            <b>
              <%= link_to t('.newest'), params.merge(:sort => "newest", :page => 1) %>
            </b>
          <% else %>
            <%= link_to t('.newest'), params.merge(:sort => "newest", :page => 1) %>
          <% end %>
          <% if params[:sort] == "popular" %>
            &bull;
            <b>
              <%= link_to t('.popular'), params.merge(:sort => "popular", :page => 1) %>
            </b>
          <% else %>
            &bull;
            <%= link_to t('.popular'), params.merge(:sort => "popular", :page => 1) %>
          <% end %>
          <% if params[:sort] == "updated" %>
            &bull;
            <b>
              <%= link_to t('.recent'), params.merge(:sort => "updated", :page => 1) %>
            </b>
          <% else %>
            &bull;
            <%= link_to t('.recent'), params.merge(:sort => "updated", :page => 1) %>
          <% end %>
        </div>
        <% @submissions.each do |submission| %>
          <% main_image = submission.cached_image %>
          <% username = submission.get_username %>
          <div class="content">
            <a href="<%= url_for(submission) %>">
              <%= link_to image_tag("#{main_image ? main_image : 'uploadthumb.png'}", class: 'levelthumb'), submission %>
            </a>
            <div class="contentdetails">
              <h4 style="height: 18px; overflow: hidden; word-wrap: break-word;">
                <a href="<%= url_for(submission) %>">
                  <%= submission.name %>
                </a>
                <% if submission.is_new? %>
                  <span class="item-tag"><%= t '.new' %></span>
                <% elsif submission.is_updated? %>
                  <span class="item-tag"><%= t '.updated' %></span>
                <% end %>
              </h4>
              <div class="madebyuser">
                <%= link_to username, user_uploads_path(username) %>
                <div class="downloadcount">
                  &bull;
                  <%= submission.download_count %>
                  <%= image_tag("downarrow.png", alt: "DL") %>
                </div>
              </div>
              <div class="contentdesc">
                <%= submission.desc %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="mainpage" style="margin-bottom: 2px !important;"></div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Mods-Unturned -->
      <ins class="adsbygoogle"
           style="display:block;margin:0 auto;width:728px;height:90px"
           data-ad-client="ca-pub-3000890138855017"
           data-ad-slot="2920237782"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="pagination-wrap">
        <%= paginate @submissions %>
      </div>
    </div>
  </div>
</div>
