%div
  #centerpage
    #headerpage
      .headerwrap
    = render 'shared/tabs'
    #mainpagewrap
      .box.effect1
        %h2
          - if params[:user]
            = params[:user] + "'s"
            Creations
          - else
            = @type.singularize.capitalize
            Creations
      .mainpageleft
        %div{:style => "width:100%; text-align:center; height:8px;margin-top:5px; font-size:14px; margin-left:0px;"}
          - if params[:sort] == "newest" || !params[:sort]
            %b
              = link_to 'Newest First', params.merge(:sort => "newest")
          - else
            = link_to 'Newest First', params.merge(:sort => "newest")
          - if params[:sort] == "popular"
            %b
              = link_to '• Most Popular', params.merge(:sort => "popular")
          - else
            = link_to '• Most Popular', params.merge(:sort => "popular")
        - @submissions.each do |submission|
          .content
            %a{:href => url_for(submission)}
              = link_to image_tag("#{submission.main_image ? submission.main_image.image_url : 'uploadthumb.png'}", class: 'levelthumb'), submission
            .contentdetails
              %h4
                %a{:href => url_for(submission)}= submission.name
                - if submission.is_new?
                  %span{:style => "color:red;font-size:12px;text-decoration:none;"} NEW!
              .madebyuser
                = link_to submission.user.username, user_uploads_path(submission.user.username)
                .downloadcount
                  \•
                  = submission.download_count
                  = image_tag("downarrow.png")
              .contentdesc{style: "word-wrap: break-word; overflow: hidden;"}
                - if submission.body.length > 75
                  = submission.body[0..75].gsub('\n', ' ') + "..."
                - else
                  = submission.body.gsub('\n', ' ')
      #mainpage
      #paginator{align: "center"}
        = paginate @submissions
