%div{:style => "background-color:#2E2E2E;margin:0;padding:0;"} 
  #centerpage
    #headerpage
      .headerimagewrap
        = image_tag('header.png')
    #tabs
      .home
        %a{:href => root_path}
          %h3{:style => "text-align:center; margin:0 auto; padding-top:10px; color:white;"} Home
      %span.statement Where Community Content Goes to Flourish
      .upload
        %a{:href => new_submission_path}
          %h3 Upload
    #mainpagewrap{:style => "width: 860px; height:740px; margin: 0 auto; margin-bottom:10px;"}
      .mainpageleft
        .contenthead1
          %h2 Info
        - if @submission.latest_download
          .downloadbutton
            %a{:href => @submission.latest_download.download.url}
              %h4.download Download
        - if can_manage(@submission)
          .downloadbutton
            %a{:href => new_submission_download_path(@submission)}
              %h4.download Upload
        .infosection
          %p.title= @submission.name
          %p.dateupload
            = time_ago_in_words(@submission.created_at)
            ago
          = simple_format(@submission.body.html_safe, class: 'description')
          %p.uploadby
            %b Created by:
            = @submission.user.username
          %hr/
          - if can_manage(@submission)
            %p.title Manage
            %p.uploadby
              %a{:href => new_submission_download_path(@submission)}
                %b Upload File
              %br/
              %a{:href => new_submission_image_path(@submission)}
                %b Upload Image
      .mainpageright
        .contenthead2
          %h2 Screenshots
        .mainscreen
          %img.mainthumblarge{:src => "#{@submission.main_image ? @submission.main_image.image_url : 'http://placehold.it/350x150'}"}
        .screenshots
          - 6.times do |count|
            - puts "Logging #{count}"
            - if @submission.thumbnails[count]
              %a{:href => "http://placehold.it/142x80", :target => "_blank"}
                %img.levelthumb{:src => @submission.thumbnails[count].image_url}
            - else
              %a{:href => "http://placehold.it/142x80", :target => "_blank"}
                %img.levelthumb{:src => "http://placehold.it/142x80"}
        .videos
          %b
            %p{:style => "font-family:'Arial', Helvetica, sans-serif; color:#464646; margin-left:5px; padding-top:5px;"} External Links:
      #mainpage