%div{:style => "background-color:#2E2E2E;margin:0;padding:0;"} 
  #centerpage
    #headerpage
      .headerimagewrap
        = image_tag('header.png')
    = render 'shared/tabs'
    #mainpagewrap{:style => "width: 860px; height:740px; margin: 0 auto; margin-bottom:10px;"}
      .mainpageleft
        .contenthead1
          %h2 Info
        - if @submission.latest_download
          .downloadbutton
            %a{:href => @submission.latest_download.download.url}
              %h4.download Download
        .infosection
          - if !@submission.valid?
            %p.title Warning:
            %p.uploadby
              %b This submission is either lacking a main image, a download, or your first download is awaiting moderator approval.
          %p.title= @submission.name
          %p.dateupload
            = @submission.created_at.strftime("%B #{@submission.created_at.day.ordinalize}, #{@submission.created_at.year}")
          = simple_format(@submission.body.html_safe, class: 'description')
          %p.uploadby
            %b Created by:
            = link_to @submission.user.username, user_uploads_path(@submission.user.username)
          %hr/
          - if can_manage(@submission)
            %p.title Manage
            %p.uploadby
              %a{:href => new_submission_download_path(@submission)}
                %b Upload File
              %br/
              %a{:href => new_submission_image_path(@submission)}
                %b Upload Image
      .mainpageright
        .contenthead2
          %h2 Screenshots
        .mainscreen
          %img.mainthumblarge{:src => "#{@submission.main_image ? @submission.main_image.image_url : 'http://placehold.it/350x150'}"}
        .screenshots
          - 6.times do |count|
            - if @submission.thumbnails[count]
              %a{:href => "#{@submission.thumbnails[count].image_url}", :target => "_blank"}
                %img.levelthumb{:src => @submission.thumbnails[count].image_url}
            - else
              %a{:href => "http://placehold.it/142x80", :target => "_blank"}
                %img.levelthumb{:src => "http://placehold.it/142x80"}
        .videos
          %b
            %p{:style => "font-family:'Arial', Helvetica, sans-serif; color:#464646; margin-left:5px; padding-top:5px;"} External Links:
      #mainpage