%div{:style => "background-color:#2E2E2E;margin:0;padding:0;"}
  #centerpage
    #headerpage
      .headerwrap
        = image_tag "header.png"
    = render 'shared/tabs'
    #mainpagewrap{:style => "width: 900px; height:740px; margin: 0 auto; margin-bottom:10px;"}
      .box.effect1
        %h2= @submission.name
      .mainpageleft
        .infosection.effect3
          - if @submission.latest_download
            .downloadbutton
              %a{:href => @submission.latest_download.download.url}
                %h4.download Download
          - if !@submission.ready?
            %p.title Warning:
            %p.uploadby
              %b This submission is either lacking a main image, a download, or the first download is awaiting moderator approval.
          %p.title= @submission.name
          %p.dateupload= @submission.created_at.strftime("%B #{@submission.created_at.day.ordinalize}, #{@submission.created_at.year}")
          %p
            = simple_format(@submission.body.html_safe, class: 'description')
          %p.uploadby
            %b Created by:
          .profile
            %a{:href => user_uploads_path(@submission.user.username)}
              = avatar(@submission.user)
            .persondetails
              .username= link_to @submission.user.username, user_uploads_path(@submission.user.username)
              .userdescription Map Maker
              .stats
                = @submission.user.submissions.count
                Submissions
          .manage
            - if can_manage(@submission)
              %p.title Manage
              %p.uploadby
                %a{:href => new_submission_download_path(@submission)}
                  %b Upload File
                %br/
                %a{:href => new_submission_image_path(@submission)}
                  %b Upload Image
                %br/
                %a{hreF: edit_submission_path(@submission)}
                  %b Edit Submission
                %br/
                %b= link_to 'Delete Submission', submission_path(@submission), method: :delete, data: {confirm: 'Are you sure you want to delete this submission? This can not be undone.'}
          .videosection
            %h4.download Videos
            %a{href: ""}
              = image_tag "uploadthumb.png", class: 'vidthumb'
            %a{href: ""}
              = image_tag "uploadthumb.png", class: 'vidthumb'
      .mainpageright
        .mainscreen
          %img.mainthumblarge{:src => "#{@submission.main_image ? @submission.main_image.image_url : 'http://placehold.it/350x150'}"}
        .screenshots
          - 6.times do |count|
            - if @submission.thumbnails[count]
              %a{:href => "#{@submission.thumbnails[count].image_url}", :target => "_blank"}
                %img.levelthumb{:src => @submission.thumbnails[count].image_url}
            - else
              %a{:href => "http://placehold.it/142x80", :target => "_blank"}
                %img.levelthumb{:src => "http://placehold.it/142x80"}
        .comments
          .header
            %b
            %p{:style => "font-family:'Arial', Helvetica, sans-serif; color:#464646; margin-left:5px; padding-top:5px;"} Comments
            = render 'comments/form'
          .list
            - @submission.comments.reject(&:new_record?).each do |comment|
              %div{class: "comment #{cycle('comment-odd', 'comment-even')}"}
                .text
                  %b= comment.user.username + ':'
                  = comment.text
      #mainpage
