%div{:style => "background-color:#2E2E2E;margin:0;padding:0;"} 
  #centerpage
    #headerpage
      .headerimagewrap
        = image_tag('header.png')
    #tabs
      .home
        %a{:href => root_path}
          %h3{:style => "text-align:center; margin:0 auto; padding-top:10px; color:white;"} Home
      %span.statement Where Community Content Goes to Flourish
      .upload
        %a{:href => new_submission_path}
          %h3 Upload
    #mainpagewrap{:style => "width: 860px; height:740px; margin: 0 auto; margin-bottom:10px;"}
      .mainpageleft
        .contenthead1
          %h2 Info
        .downloadbutton
          %a{:href => "LATEST_DOWNLOAD.zip"}
            %h4.download Download
        .infosection
          %p.title= @submission.name
          %p.dateupload
            = time_ago_in_words(@submission.created_at)
            ago
          = simple_format(@submission.body.html_safe, class: 'description')
          %p.uploadby
            %b Created by:
            = @submission.user.username
          %hr/
      .mainpageright
        .contenthead2
          %h2 Screenshots
        .mainscreen
          %img.mainthumblarge{:src => "http://placehold.it/500x300"}
        .screenshots
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
          %a{:href => "http://placehold.it/142x80", :target => "_blank"}
            %img.levelthumb{:src => "http://placehold.it/142x80"}
        .videos
          %b
            %p{:style => "font-family:'Arial', Helvetica, sans-serif; color:#464646; margin-left:5px; padding-top:5px;"} External Links:
      #mainpage