#centerpage
  #headerpage
    .headerimagewrap
      %a{:href => root_path}
        = image_tag('header.png')
  = render 'shared/tabs'
  #mainpagewrap
    .box.effect1
      %h2 Level Creations 
    .mainpageleft
      - @levels.each do |level|
        .content
          = link_to image_tag("#{level.main_image ? level.main_image.image_url : 'http://placehold.it/350x150'}", class: 'levelthumb'), level
          .contentdetails
            %a{:href => url_for(level)}
              %h4
                = level.name
                - if level.is_new?
                  %span.alert-tag NEW!
                - elsif level.is_featured?
                  %span.alert-tag Featured 
            .madebyuser= link_to level.user.username, user_uploads_path(level.user.username), class: 'profile'
            %div
              - if level.body.length > 105
                = level.body[0..105] + "..."
              - else
                = level.body
      .content
        %a{:href => new_submission_path}
          %img.levelthumb{:src => "http://placehold.it/350x150"}/
        .contentdetails
          %a{:href => new_submission_path}
            %h4 Upload Your Level!
          .madebyuser [Your Name]
          %div Make your fantastic level public!
    .mainpageright
      - @assets.each do |asset|
        .content2
          = link_to image_tag("#{asset.main_image ? asset.main_image.image_url : 'http://placehold.it/350x150'}", class: 'levelthumb'), asset
          .contentdetails
            %a{:href => url_for(asset)}
              %h4
                = asset.name
                - if asset.is_new?
                  %span.alert-tag NEW!
                - elsif asset.is_featured?
                  %span.alert-tag Featured

            .madebyuser= link_to asset.user.username, user_uploads_path(asset.user.username), class: 'profile'
            %div
              - if asset.body.length > 105
                = asset.body[0..105] + "..."
              - else
                = asset.body
      .content2
        %a{:href => new_submission_path}
          %img.levelthumb{:src => "http://placehold.it/350x150"}/
        .contentdetails
          %a{:href => new_submission_path}
            %h4 Upload Your Model!
          .madebyuser [Your Name]
          %div Make your fantastic model public!
    #mainpage
