#centerpage
  #headerpage
    .headerimagewrap
      %a{:href => root_path}
        = image_tag('header.png')
  #tabs
    .home
      %a{:href => root_path}
        %h3 Home
    %span.statement Where Community Content Goes to Flourish
    .upload
      %a{:href => "UnturnedUpload.html"}
        %h3 Upload
  #mainpagewrap
    .mainpageleft
      .contenthead1
        %h2 Levels
      - @levels.each do |level|
        .content
          %a{:href => level}
            %img.levelthumb{:src => "http://placehold.it/350x150"}/
          .contentdetails
            %a{:href => level}
              %h4
                = level.name
                - if level.is_featured?
                  %span.featured Featured
            .madebyuser= level.user.username
            %div= level.body
      .content
        %a{:href => "UnturnedUpload.html"}
          %img.levelthumb{:src => "http://placehold.it/350x150"}/
        .contentdetails
          %a{:href => "UnturnedUpload.html"}
            %h4 Upload Your Level!
          .madebyuser [Your Name]
          %div Make your fantastic level public!
    .mainpageright
      .contenthead2
        %h2 Models
      - @assets.each do |asset|
        .content2
          %a{:href => asset}
            %img.levelthumb{:src => "http://placehold.it/350x150"}
          .contentdetails
            %a{:href => asset}
              %h4
                = level.name
                - if level.is_new?
                  %span.alert-tag NEW!
            .madebyuser= level.user.username
            %div= level.body
      .content2
        %a{:href => "UnturnedUpload.html"}
          %img.levelthumb{:src => "http://placehold.it/350x150"}/
        .contentdetails
          %a{:href => "UnturnedUpload.html"}
            %h4 Upload Your Model!
          .madebyuser [Your Name]
          %div Make your fantastic model public!
    #mainpage
      %a{:href => root_path(:page => 2)}
        %p.next Next Page >