#centerpage
  #headerpage
    .headerimagewrap
      = image_tag('header.png')
  = render 'shared/tabs'
  #mainpagewrap{:style => "width: 860px; height:500px; margin: 0 auto; margin-bottom:10px;"}
    .mainpageleft{:style => "width:860px; height:100%; float:left;"}
      .contenthead1
        %h2 Login
      %span{:style => "text-align:center; margin-left:310px; font-family:'Arial', Helvetica, sans-serif; font-size:12px;"} Login to check out your account!
      .innerbox{:style => "height:350px; width:820px; margin-left:20px; margin-top:7px; background-color:#E5E5E5"}
        .form
          = params[:controller]
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render 'shared/errors', object: resource
            %p.text
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            %p.text
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off"
            - if devise_mapping.rememberable?
              %p
                = f.check_box :remember_me
                = f.label :remember_me
            %p
              = f.submit "Login"
          = render 'devise/shared/links'
        = image_tag('uploadfriend.jpg', :class => "stepboxes")
    #mainpage{:style => "width:850px; height:500px;"}