<div id="centerpage">
	<%= render 'shared/tabs' %>
	<div id="mainpagewrap">
		<div class="box effect1">
			<h2><%= t('admin.titles.control_panel') %></h2>
		</div>
		<div class="mainpageleft" style="padding: 5px 0px 0px 10px;">
			<%= form_tag email_path, method: 'POST' do %>

			<%= label_tag t('activerecord.attributes.user.email') %>
			<%= text_field :email, :username, class: 'contactboxes', value: params[:username] %>

			<%= label_tag t('.from') %>
			<%= email_field :email, :email, class: 'contactboxes', value: 'no-reply@mods-unturned.com' %>

			<%= label_tag t('.subject') %>
			<%= text_field :email, :subject, class: 'contactboxes', placeholder: t('.want_to_contact') %>
			<%= label_tag t('.message') %>
			<%= text_area :email, :message, class: 'contactboxes', rows: 7, placeholder: t('.enter_a_message') %>

			<%= submit_tag t('common.send'), class: 'contactsubmitbutton', :data => { :disable_with => t('common.sending') } %>
			<% end %>
		</div>
		<div id="mainpage" />
	</div>
</div>