<style>
.buttoncont {
	width:860px;
	height:40px;
	line-height:40px;
	display: table;
}
.button_to {
	display: table-cell;
	width: 33%;
}
.button_to input[type="submit"] {
	width: 100%;
	height: 100%;
}
</style>
<div id="centerpage">
	<%= render 'shared/tabs' %>
	<div id="mainpagewrap">
		<div class="box effect1">
			<h2><%= t '.control_panel' %></h2>
		</div>
		<div class="mainpageleft">
			<div class="buttoncont">
				<%= button_to 'Content Moderation', admin_moderation_path, {:method => :get } %>
				<%= button_to 'Reports Moderation', admin_reports_path, {:method => :get } %>
				<%= button_to 'Flush Cache', flush_cache_path, {:method => :get } %>
			</div>
			<div class="buttoncont">
				<%= button_to 'Statistics', admin_stats_path, {:method => :get} %>
				<%= button_to 'User List', admin_users_path, {:method => :get } %>
				<%= button_to 'Send E-mail', admin_email_path, {:method => :get } %>
			</div>
			<%= render '/admin/stats/stats' %>
		</div>
		<div id="mainpage" />
	</div>
</div>