<div id="centerpage">
	<%= render 'shared/tabs' %>
	<div class="box effect1">
		<h2><%= t 'admin.titles.control_panel' %></h2>
	</div>
	<div id="mainpage">
		<div class="buttoncont">
			<%= button_to t('admin.titles.content_moderation'), admin_moderation_path, {:method => :get } %>
			<%= button_to t('admin.titles.reports_moderation'), admin_reports_path, {:method => :get } %>
			<%= button_to t('admin.titles.flush_cache'), flush_cache_path, {:method => :get } %>
		</div>
		<div class="buttoncont">
			<%= button_to t('admin.titles.statistics'), admin_stats_path, {:method => :get} %>
			<%= button_to t('admin.titles.user_list'), admin_users_path, {:method => :get } %>
			<%= button_to t('admin.titles.send_email'), admin_email_path, {:method => :get } %>
		</div>
	</div>
</div>