<p>
  <%= t '.hello', email: @resource.email %>
</p>
<p><%= t '.someone_requested' %></p>
<p>
  <%= link_to (t '.change_password'), edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p><%= t '.did_not_request' %></p>
<p><%= t '.will_not_change' %></p>
