= form_for([@submission, @upload]) do |f|
  = render 'shared/errors', object: @upload
  %p
    %b= f.label :name
    %br/
    = f.text_field :name
  %p
    %b= f.label :version
    %br/
    = f.text_field :version
  %p
    %b= f.label :upload
    %br/
    = f.file_field :upload, class: 'file'
  %p
    = f.submit 'Submit'
