<div id="add-report-<%= reportable.last.class.name.downcase %>" class="add-video-popup mfp-hide">
  <p><%= t '.report_text' %></p>
  <%= form_for(reportable.concat([Report.new])) do |f| %>
  <p>
    <%= f.label :report_type, t('.reason') + ':' %>
    <br/>
    <%= f.select(:report_type, ['Spam', 'Inappropriate', 'Not Original', 'Other'].map { |value| [ value, t('.' + value.underscore) ] }) %>
  </p>
  <p>
    <%= f.label :comments, t('comments.comments') + ':' %>
    <br/>
    <%= f.text_area :comments, autocomplete: 'off', class: 'text-box', placeholder: t('.extra_comments'), rows: 6, style: 'height: auto !important; width: 95%' %>
  </p>
  <p>
    <%= f.submit t('common.submit'), class: 'text-box', style: 'display: inline;', :data => { :disable_with => t('common.saving') } %>
  </p>
  <% end %>
</div>
<%= content_for :scripts do %>
<script>
  $('.report-<%= reportable[-2].class.name.downcase %>-button').magnificPopup({
    type:'inline',
    midClick: true,
    mainClass: 'mfp-fade'
  });
</script>
<% end %>