<div id="add-image" class="add-image-popup mfp-hide mfp-with-anim">
  <div class='popupwrap'>
    <table>
      <tr>
        <td>
          <div class="uploadscreen_inputwrap">
            <%= form_for([@submission, @submission.images.new]) do |f| %>
            <fieldset>
              <legend class="screenupload_legend"><%= t('images.select_image') %></legend>
              <%= f.select(:location, options_for_select([['Main Image', 'Main'], ['Screenshot #1', 'Thumbnail1'], ['Screenshot #2', 'Thumbnail2'], ['Screenshot #3', 'Thumbnail3'], ['Screenshot #4', 'Thumbnail4'], ['Screenshot #5', 'Thumbnail5'], ['Screenshot #6', 'Thumbnail6']], 'Thumbnail1'), {}, { :class=>'thumbnailselectform', size: "2" }) %>
            </fieldset>
            <%= f.file_field :image, class: 'uploadscreenbutton', value: t('images.choose_file') %>
            <div class="uploadscreenpage_notificationmessagewrap errormessage">
              <span class="uploadscreenpage_notificationtext"><%= t('images.preview_display') %> </span></div>
              <a class="submitlink" href="#upload"><%= f.submit t('common.upload'), class: 'signinbutton' %></a>
              <div class="uploadscreen_inputbottomwrap">
              </div>
            </div>
            <% end %>
          </div>
        </td>
        <td>
          <div class="uploadscreen_tutorialwrap">
            <div class="uploadscreen_headerwrap">
              <%= image_tag 'preview25.png', class: 'uploadscreen_magnifyimg' %>
              <div class="uploadscreen_tutorialtitle"> <%= t('images.image_preview') %></div>
              <%= image_tag 'uploadthumb.png', alt: t('images.image_preview'), class: 'uploadscreen_previewimgwrap' %>
            </div>
          </div>
        </td>
      </tr>       
    </table>
  </div>
</div>