<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div class="box effect1">
    <h2> <%= t('.upload_images') %> </h2>
  </div>  
  <div id="mainpage">        
    <table>
      <tr>
        <td>
          <div class="uploadscreen_inputwrap">
            <%= render 'form' %>
          </td>
          <td>
            <div class="uploadscreen_tutorialwrap">
              <div class="uploadscreen_headerwrap">
                <%= image_tag 'preview25.png', class: 'uploadscreen_magnifyimg' %>
                <div class="uploadscreen_tutorialtitle"> <%= t('images.image_preview') %></div>
                <%= image_tag 'uploadthumb.png', alt: t('images.image_preview'), class: 'uploadscreen_previewimgwrap' %>
              </div>
            </div>
          </td>
        </tr>       
      </table>
    </div>    
  </div>
</div>