%head
  %title Unturned Mods
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  - if params[:controller] == "submissions"
    - if params[:action] == "new" or params[:action] == "edit"
      = stylesheet_link_tag 'upload'
    - else
      = stylesheet_link_tag 'content'
  - if params[:controller] == "submissions" and params[:action] == "index"
    = stylesheet_link_tag 'home'
  - if params[:controller] == "devise/registrations"
    - if params[:action] == "new" || params[:action] == "create"
      = stylesheet_link_tag 'upload'
      = stylesheet_link_tag 'users'
  - if params[:controller] == "devise/sessions"
    - if params[:action] == "new" || params[:action] == "create"
      = stylesheet_link_tag 'upload'
      = stylesheet_link_tag 'users'
  - if params[:controller] == "downloads"
    = stylesheet_link_tag "upload"
  - if params[:controller] == "images"
    = stylesheet_link_tag "upload"
  - if params[:controller] == "devise/passwords"
    = stylesheet_link_tag "upload"
  - if params[:controller] == "moderation"
    = stylesheet_link_tag "upload"
  %meta{:content => 'Welcome to Mods-Unturned! This is your central place for quality map and model mods for Unturned the game.', :name => 'description'}
  %meta{:content => 'Unturned, Unturned Mods, Unturned Maps, Unturned models, unturned map mods, unturned model mods, unturned mod, unturned mod download, unturned modding, unturned tutorial, unturned database', :name => 'keywords'}
  %meta{:content => 'Bradley Mitchell', :name => 'author'}
  %link{:href=>"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel=>"stylesheet"}
  %script{:src => "http://lokeshdhakar.com/projects/lightbox2/js/lightbox.js"}
  = csrf_meta_tags

%body
  = yield
