<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) + ' :: Mods Unturned ' : 'Mods Unturned' %></title>
  <meta content="Welcome to Mods-Unturned! This is your central place for quality map, model, and mods for Unturned the game." name="description"/>
  <meta content="Unturned, Unturned Mods, Unturned Maps, Unturned models, unturned map mods, unturned model mods, unturned mod, unturned mod download, unturned modding, unturned tutorial, unturned database, steam workshop" name="keywords"/>
  <meta content="Bradley Mitchell" name="author"/>

  <meta charset="utf-8">
  <meta property="og:title" content="Unturned Mods">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.Mods-Unturned.com">
  <meta property="og:image" content="https://i.imgur.com/Jq4ZlER.png">
  <meta property="og:description" content="The #1 source for Unturned Mods. Mods for Unturned including Maps, Vehicles, Guns, Items, and more!">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter display meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@Mods-Unturned_com">

  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script type="application/ld+json">
    { "@context" : "http://schema.org",
    "@type" : "CreativeWork",
    "name" : "Mods-Unturned",
    "url" : "http://www.mods-unturned.com",
    "sameAs" : ["http://twitter.com/Mods_Unturned",
    "https://plus.google.com/103886656948838780928"],
    "dateCreated": "2014-11-22",
    "dateModified": "2014-11-22",
    "keywords": "Unturned, Unturned Maps, Unturned Mods, Unturned Custom Content, Unturned on Steam",
    "audience": "Unturned players" }
  </script>

  <% if params[:controller] == "home" %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'index' %>
  <% else %>
  <%= stylesheet_link_tag 'application' %>
  <% end %>
  <% if params[:action] == "about" %>
  <%= stylesheet_link_tag 'about' %>
  <% end %>
  <% if params[:controller] == "submissions" %>
  <% if params[:action] == "new" or params[:action] == "edit" || params[:action] == "create" %>
  <%= stylesheet_link_tag 'upload' %>
  <% else %>
  <%= stylesheet_link_tag 'content' %>
  <% end %>
  <% end %>
  <% if params[:controller] == "submissions" and params[:action] == "index" %>
  <%= stylesheet_link_tag 'index' %>
  <% end %>
  <% if params[:controller] == "registrations" %>
  <% if params[:action] == "new" || params[:action] == "create" %>
  <%= stylesheet_link_tag 'upload' %>
  <%= stylesheet_link_tag 'users' %>
  <% end %>
  <% end %>
  <% if params[:controller] == "devise/sessions" %>
  <% if params[:action] == "new" || params[:action] == "create" %>
  <%= stylesheet_link_tag 'upload' %>
  <%= stylesheet_link_tag 'users' %>
  <% end %>
  <% end %>
  <% if params[:controller] == "uploads" || params[:controller] == "images" || params[:controller] == "admin/moderation" || params[:controller] == 'admin/control' || params[:controller] == "passwords" || params[:controller] == "admin/reports" || params[:controller] == "api/v1/documentation" || params[:controller] == 'admin/listings' || params[:controller] == 'admin/stats' %>
  <%= stylesheet_link_tag "upload" %>
  <% end %>
</head>
<body>

  <%= yield %>
  <%= render 'shared/footer' %>
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <%= render 'shared/analytics' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :scripts %>
  <script defer async src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>