<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) + ' :: Mods Unturned ' : 'Mods Unturned' %></title>
  <meta content="Welcome to Mods-Unturned! This is your central place for quality map, model, and mods for Unturned the game." name="description"/>
  <meta content="Unturned, Unturned Mods, Unturned Maps, Unturned models, unturned map mods, unturned model mods, unturned mod, unturned mod download, unturned modding, unturned tutorial, unturned database, steam workshop" name="keywords"/>
  <meta content="Bradley Mitchell" name="author"/>

  <meta charset="utf-8">
  <meta property="og:title" content="Unturned Mods">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.Mods-Unturned.com">
  <meta property="og:image" content="https://i.imgur.com/Jq4ZlER.png">
  <meta property="og:description" content="The #1 source for Unturned Mods. Mods for Unturned including Maps, Vehicles, Guns, Items, and more!">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter display meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@Mods-Unturned_com">

  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    { "@context" : "http://schema.org",
    "@type" : "CreativeWork",
    "name" : "Mods-Unturned",
    "url" : "http://www.mods-unturned.com",
    "sameAs" : ["http://twitter.com/Mods_Unturned",
    "https://plus.google.com/103886656948838780928"],
    "dateCreated": "2014-11-22",
    "dateModified": "2014-11-22",
    "keywords": "Unturned, Unturned Maps, Unturned Mods, Unturned Custom Content, Unturned on Steam",
    "audience": "Unturned players" }
  </script>

  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <%= yield %>
  <%= render 'shared/footer' %>
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <%= javascript_include_tag 'application' %>
  <%= yield :scripts %>
  <script defer async src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>